{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Seethi Sahib Memorial Polytechnic College Alumni Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="World wide comminity of SSM Polytechnic College alumni students" />
  <meta property="og:site_name" content="Alumni Portal of SSM Polytechnic College" />
  <meta property="og:url" content="http://www.ssmpoly.ac.in/" />
  <meta property="og:title" content="Seethi Sahib Memorial Polytechnic College Alumni Portal" />
  <meta property="og:description" content="World wide comminity of SSM Polytechnic College alumni students" />
  <meta property="og:image" content="https://corehub.in/dem0n/ssm-alumni/img/og.jpg" >
  <meta property="og:image:secure_url" content="https://corehub.in/dem0n/ssm-alumni/img/og.jpg" >
  <link rel="shortcut icon" href="{% static 'favicon.png' %}" />
  <link rel="apple-touch-icon" href="{% static 'favicon.png' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Libre+Baskerville&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<style>
    body {
        background-color: #ffcb05 ;
    }
</style>
</head>

<body>
    <section class="container-fluid sticky-top bg-darkblue pt-2 pb-2">
        <div class="col-sm-9 mx-auto">
          <nav class="navbar navbar-expand-sm navbar-dark p-0">
              <button class="navbar-toggler float-start p-0 border-0 lg-hide me-3 me-lg-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="material-icons float-start" style="font-size:30px">menu</span>
              </button>
              <a class="navbar-brand" href="#"><img src="{% static "ssm-logo.png" %}" class="img-fluid logo"></a>
              <a class="text-warning lg-hide" href="#"><span class="material-icons float-start">person</span></a>
              <a class="text-warning lg-hide" href="#"><span class="material-icons-outlined float-end">search</span></a>
    
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ms-auto font-weight-bold text-uppercase">
                  <li class="nav-item me-lg-3"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                  <li class="nav-item me-lg-3 active"><a class="nav-link" href="{% url 'member' %}">Membership</a></li>
                  <li class="nav-item me-lg-3"><a class="nav-link" href="{% url 'activities' %}">Activities</a></li>
                  <li class="nav-item me-lg-3"><a class="nav-link" href="#">About</a></li>
                  <li class="nav-item me-lg-3"><a class="nav-link" href="#">Contact US</a></li>
                  <li class="nav-item sm-hide"><a class="nav-link" href="#"><span class="material-icons-outlined float-end">search</span></a></li>
                </ul>
          </nav>
        </div>
        <img src="{% static 'media/auto.png' %}">
      </section class="container-form">
      <div class="alumini-head">
        <h2 >Alumni Details Form</h2>
    </div>      
      <form action="#" method="post" class="container-form2">
        
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name" required>
    
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    
        <label for="graduationYear">Graduation Year:</label>
        <input type="text" id="graduationYear" name="graduationYear" required>
    
        <label for="degree">Degree Earned:</label>
        <input type="text" id="degree" name="degree" required>
    
        <label for="currentJob">Current Job:</label>
        <input type="text" id="currentJob" name="currentJob" required>
    
        <label for="message">More about You:</label>
        <textarea id="message" name="message" rows="4"></textarea>
    <div class="submit-button">
        <button type="submit">Submit</button>
    </div>       
      </form>
      </section>
<br><br>
<section class="container-fluid pt-5 pb-3 bg-darkblue text-white " >
    <div class="col-sm-9 mx-auto"> 
      <div class="row m-0 align-items-center">
        <div class="col-sm-12 text-center mb-5">
          <h4 class="mb-3">Follow Us</h4>
          <div class="table-responsive">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link text-white-50" href="#" target="_blank">
                  <i class="fab fa-facebook-f" style="font-size:28px"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white-50" href="#" target="_blank">
                  <i class="fab fa-twitter" style="font-size:28px"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white-50" href="#" target="_blank">
                  <i class="fab fa-youtube" style="font-size:28px"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white-50" href="#" target="_blank">
                  <i class="fab fa-instagram" style="font-size:28px"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="col-sm-8 mb-4">
          <p class="mb-1"><span class="material-icons float-start me-3">call</span><a href="tel:" class="text-white-50 mb-2">8008474764</a></p>
          <p class="mb-1"><span class="material-icons float-start me-3">mail</span><a href="mailto:" class="text-white-50 mb-2">ssmalumni@gmail.com</a></p>
          <p class="text-white-50"><span class="material-icons text-white float-start mb-4 me-3">place</span>Alumni Center, SSM Polytechnic College, Malappuram - 676105</p>
        </div>
  
  
        <div class="col-sm-4 text-center text-lg-end mb-4">
          <img src="{% static 'ssm-logo.png' %}" class="img-fluid logo">
        </div>
  
        <div class="col-sm-6 text-center text-lg-start text-white-50">
          <small>&copy; SSM Polytechnic College All rights reserved.</small>
        </div>
        
        <div class="col-sm-6 text-center text-lg-end text-white-50">
          <small>Powered by <a href="#" class="text-white-50">Corehub Solutions</a></small>
        </div>
      </div>
      
    </div>
  </section>
  
</body>